PORT=3000

VIDEO_METADATA_API_BASE_URL=https://video-metadata-api.prod.aller.cloud
RELATED_VIDEOS_API_BASE_URL=https://dtnl.stage.medialaben.no/dtnl/recommendation-bff/api/v1
VIDEO_METADATA_DEFAULT_BRAND=dagbladet
VIDEO_METADATA_DEFAULT_COUNTRY=no

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

REQUEST_BODY_LIMIT=2mb
