NODE_ENV=development
PORT=3000

VIDEO_METADATA_API_BASE_URL=https://video-metadata-api.prod.aller.cloud
RELATED_VIDEOS_API_BASE_URL=https://dtnl.stage.medialaben.no/dtnl/recommendation-bff/api/v1
VIDEO_METADATA_DEFAULT_BRAND=dagbladet
VIDEO_METADATA_DEFAULT_COUNTRY=no

CF_AIG_TOKEN=
AI_GATEWAY_BASE_URL=https://gateway.ai.cloudflare.com/v1/f40c46d48669187fc6bb2c53761b7d6b/llm-gateway/compat
AI_GATEWAY_MODEL=google-vertex-ai/google/gemini-2.5-flash

REQUEST_BODY_LIMIT=2mb
